<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Properties.Settings>
            <setting name="IsAutoRefreshEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value>#03A9F4</value>
            </setting>
            <setting name="IsRDPMode" serializeAs="String">
                <value>False</value>
            </setting>
        </Properties.Settings>
    </userSettings>
	
</configuration>

