<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AUTO_BAZ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AUTO_BAZ.Properties.Settings>
            <setting name="Daysb_Conf" serializeAs="String">
                <value />
            </setting>
            <setting name="IsC0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC00" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsC11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDefacc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TheHistoryLST" serializeAs="String">
                <value />
            </setting>
            <setting name="RepeatCount" serializeAs="String">
                <value>1</value>
            </setting>
        </AUTO_BAZ.Properties.Settings>
    </userSettings>
</configuration>